.board {
  display: grid;
  grid-template-rows: repeat(8, 60px);
}

.row {
  display: grid;
  grid-template-columns: repeat(8, 60px);
}

.cell {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  position: relative;
  background-color: #fff;
}

.cell.highlight {
  background-color: rgba(0, 255, 0, 0.3);
}

.piece {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  font-weight: bold;
  cursor: grab;
  border-radius: 6px;
}
.red-developer {
  background-color: #e57373; /* vermelho claro */
}

.red-designer {
  background-color: #ef5350; /* vermelho médio */
}

.red-po {
  background-color: #c62828; /* vermelho escuro */
}

.blue-developer {
  background-color: #64b5f6; /* azul claro */
}

.blue-designer {
  background-color: #42a5f5; /* azul médio */
}

.blue-po {
  background-color: #1565c0; /* azul escuro */
}
