  <div class="d-inline-block m-4 justify-items-center">
    <app-sidebar></app-sidebar>
    <div class="content-game p-1 rounded-3 d-block">
      <div *ngFor="let row of board(); let y = index" class="d-flex">
        <div #celltable *ngFor="let piece of row; let x = index" class="cell-table"
          [ngClass]="[getCellClass(x, y)]" [class.highlight]="isHighlighted(x, y)"
          [class.selected]="isSelected(x, y)" [class.black-moved]="lastTargetCell?.x === x && lastTargetCell?.y === y"
          [class.white-moved]="lastMovedCell?.x === x && lastMovedCell?.y === y">

          <div *ngIf="y === rows - 1" class="kanit-medium cell-label-bottom">
            {{ getColumnLabel(x).toUpperCase() }}
          </div>
          <div *ngIf="x === 0" class="kanit-medium h1 mb-0 cell-label-left">
            {{ rows - y }}
          </div>

          <!-- Peça -->
          <div *ngIf="piece" class="piece" cdkDrag #dragRef="cdkDrag" (cdkDragStarted)="onDragStart(x, y)"
            (cdkDragEnded)="onDragEnd($event, x, y, dragRef)"
            [ngClass]="['piece', piece.player === 'white' ? 'White-piece' : 'Black-piece']"
            [cdkDragDisabled]="!gameStarted">
            <img class="img-piece"
              [src]="getPieceImage(piece)"
              alt="{{ piece.type }}" />
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="moveWarning" class="text-warning kanit-light">
      {{ moveWarning }}
    </div>

    <div *ngIf="!gameStarted" class="w-100 board-controls">
      <div class="h30-px align-content-end text-start">
        <small *ngIf="!canStartGame" class="mb-0">Choose the dimensions of the board.</small>
      </div>
      <div class="row m-0 justify-content-between">
        <div class="col-sm-8 mt-2 px-0">
          <div class="row m-0 d-flex pattern-bg-input-scale content-controls align-items-center">
            <div class="col-2 py-1 text-center px-0">
              <p class="kanit-medium m-0 px-0 text-secondary">Scale</p>
            </div>
            <div class="col-7 px-0 py-1 d-flex align-content-center align-items-center">
              <label class="text-light mb-0 pt-0 pe-2">
                X
              </label>
              <input type="text" class="w-100 p-1 pattern-bg-input-scale text-center"
                [ngClass]="{'border-danger': rowError}" [(ngModel)]="inputRows" (input)="validateDimensions()"
                (keypress)="restrictToNumbers($event)" placeholder="Rows" />
              <label class="text-light mb-0 pt-0 px-2">
                Y
              </label>
              <input type="text" class="w-100 p-1 pattern-bg-input-scale text-center"
                [ngClass]="{'border-danger': colError}" [(ngModel)]="inputCols" (input)="validateDimensions()"
                (keypress)="restrictToNumbers($event)" placeholder="Cols" />
            </div>
            <div class="col-3 pe-0">
              <button class="border-start m-0 ps-3 rounded-0 border-secondary bg-transparent" (click)="applyBoardSize()"
                [disabled]="dimensionError">
                <img width="22" src="./icons/check.svg" alt="check" />
              </button>
            </div>
          </div>
          <p class="kanit-medium mb-0 text-start" *ngIf="rowError || colError">
            <img src="./icons/warning.svg" width="18px" class="pb-1 pe-1" />
            <small>{{ rowError || colError }}</small>
          </p>
        </div>
        <div class="col-sm-3 mt-2 px-0 text-end">
          <button [ngClass]="{'play-btn-disabled': !canStartGame}" class="play-btn text-start w-100 m-0 h-100"
            (click)="startGame()" [disabled]="!canStartGame">
            <h5 class="kanit-medium m-0">Play</h5>
          </button>
        </div>
      </div>
    </div>
  </div>
  <footer class="d-block w-100 position-absolute bg-transparent footer-logo">
    <img src="./icons/unvoid.png" alt="Unvoid Logo" class="w-auto h-auto" />
  </footer>
